---
# Our custom styles
---

@import "fonts";

input {
    font-family: 'Avenir Next LT Pro Regular', sans-serif;

    &.first-name {
		width: 49%;
		display: inline-block;
		margin-left: -10px;
		margin-bottom: 10px;
    }

    &.last-name {
		width: 49%;
		display: inline-block;
		float: right;
		margin-bottom: 10px;
    }

    &.e-mail {
    	margin-bottom: 10px;
    }
}

.mc_message {
	margin-bottom: 50px;

	p {
    	font-family: 'Avenir Next LT Pro Regular', sans-serif;
    	text-align: left;
		margin: 0 0 15px;
		font-size: 20px;
		line-height: 1.3;

		&.error-msg {
			font-family: 'Avenir Next LT Pro Bold', sans-serif;
		}

		&.success-msg {
			font-family: 'Avenir Next LT Pro Bold', sans-serif;
		}
	}
}

        #main-logo {
            margin-bottom: 20%;
        }
        #main-logo img {
            width: 50%;
        }

        body {
            background: url({{ "/img/intro-bg.jpg" | prepend: site.baseurl }}) no-repeat;
            background-size: cover;
        }

#mc_embed_signup {
	.btn-default {
		border: 0px;
		background-color: #b98250;
		color: #fff;
		width: 100%;
		transition: all .3s ease-in-out;
		font-family: 'Avenir Next LT Pro Demi', sans-serif;
		text-transform: initial;
	}

	.btn-default:hover {
	    background-color: #642d50;
	}
}

#mce-responses {
    font-family: 'Avenir Next LT Pro Regular', sans-serif;
}

        .intro {
            background: transparent !important;
        }

       /* temp disable footer */

       footer {
         display: none;
       }
