<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-10 center-block">

                    <div id="main-logo">
                        <img src="{{ "/img/logo-white.svg" | prepend: site.baseurl }}" />
                    </div>
                    
                    <div class="mc_message" style="display: none;"></div>

                    <div id="mc_embed_signup">
                        <form action="//lorefinewines.us11.list-manage.com/subscribe/post-json?u=cde5a731f01c6941b39ac1532&amp;id=e401ad35e8" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="row">
                                <div class="col-sm-6 col-fname">
                                    <input type="text" class="first-name form-control" placeholder="First Name *" value="" name="FNAME" class="" id="mce-FNAME">
                                </div>
                                <div class="col-sm-6 col-lname">
                                    <input type="text" class="last-name form-control" placeholder="Last Name *" value="" name="LNAME" class="" id="mce-LNAME">
                                </div>
                            </div>

                            <input type="email" class="e-mail form-control" placeholder="Email Address *" value="" name="EMAIL" class="required email" id="mce-EMAIL" />

                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_cde5a731f01c6941b39ac1532_e401ad35e8" tabindex="-1" value=""></div>

                            <input type="submit" value="Know more about Lore" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default form-control" />

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<div id="movie-container">
    <video autoplay loop poster="{{ "/img/intro-bg.jpg" | prepend: site.baseurl }}" controls= "false">  
        <source src="{{ "/img/vineyard.mp4" | prepend: site.baseurl }}" type="video/mp4" />  
        <source src="{{ "/img/vineyard.ogg" | prepend: site.baseurl }}" type="video/ogg" />  
        <source src="{{ "/img/vineyard.webm" | prepend: site.baseurl }}" type="video/webm" />  
    </video> 
</div>