<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div id="main-logo">
                        <img src="{{ "/img/logo-white.svg" | prepend: site.baseurl }}" />
                    </div>

                    <div class="mc_message" style="display: none;"></div>

                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="//lorefinewines.us11.list-manage.com/subscribe/post-json?u=cde5a731f01c6941b39ac1532&amp;id=e401ad35e8" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                            <input type="text" class="first-name form-control" placeholder="First Name" value="" name="FNAME" class="" id="mce-FNAME">
                            <input type="text" class="last-name form-control" placeholder="Last Name" value="" name="LNAME" class="" id="mce-LNAME">

                            <input type="email" class="e-mail form-control" placeholder="Email Address" value="" name="EMAIL" class="required email" id="mce-EMAIL" />

                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_cde5a731f01c6941b39ac1532_e401ad35e8" tabindex="-1" value=""></div>

                            <input type="submit" value="Let me know more about Lore" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default" />

                        </form>
                    </div>

<!--End mc_embed_signup-->

                </div>
            </div>
        </div>
    </div>
</header>

