 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>

    <script type="text/javascript">
		$(document).ready(function() {

			$('#mc-embedded-subscribe-form').submit(function (e) {
			    e.preventDefault();
			    $.ajax({
			        url: '//analoglifestyle.us11.list-manage.com/subscribe/post-json?u=cde5a731f01c6941b39ac1532&amp;id=e401ad35e8',
			        type: 'GET',
			        data: $('#mc-embedded-subscribe-form').serialize(),
			        dataType: 'jsonp',
			        contentType: "application/json; charset=utf-8",
			        success: function(data) {
					    if(data.success == "yes"){           
					        alert(data.status);
					        } else {
					            alert("Either you have already signed up for our newsletter or there were errors in the information you provided.");
					        }
					    }
					}
				});
			});
		});

    </script>