<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		var form = $('#mc-embedded-subscribe-form');
		var common_msg = '<p>Please note that all fields are required to sign up, so make sure you have entered your first and last names as well as a valid email address.</p>';
		form.on('submit', function (e) {
			$('.mc_message:visible').fadeOut(250);
		    e.preventDefault();
		    $.ajax({
		        method: form.attr('method'),
		        url: form.attr('action'),
		        data: form.serialize(),
		        dataType: 'jsonp',
		        jsonp: 'c',
		        contentType: "application/json; charset=utf-8"
		    }).done(function(data) {
		    	console.log('Data: ', data);
		    	if(data.result === 'success'){           
				      $('.mc_message').html('<p class="success-msg">Success</p><p>' + data.msg + '</p>').fadeIn(250);
				} else {
					if(data.msg === '0 - Please enter a value') {
						$('.mc_message').html('<p class="error-msg">An email address is required.</p>' + common_msg).fadeIn(250);
					} else if(data.msg === '1 - Please enter a value') {
						$('.mc_message').html('<p class="error-msg">A first name is required.</p>' + common_msg).fadeIn(250);
					} else if(data.msg === '2 - Please enter a value') {
						$('.mc_message').html('<p class="error-msg">A last name is required.</p>' + common_msg).fadeIn(250);
					} else {
				   		$('.mc_message').html('<p class="success-msg">' + data.msg + '</p>').fadeIn(250);
				   	}
				}
		    });
		  
		});
	});

</script>